# Ignore artifacts and non-source files
.github
*.py
*.md

# Build outputs & caches
**/dist
**/types
**/node_modules
**/coverage
**/.cache
**/docs/build
*.tsbuildinfo

# Lock files
pnpm-lock.yaml

# YAML files (temporary workaround for VS Code extension issue)
*.yml
*.yaml
